@model LoginViewModel

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ourWinch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/ourWinch.styles.css" />

    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Account/login-style.css" />
</head>

<body>

    <main class="container mt-6 text-center">
        <div class="login-container text-center">
            <div class="login-box">
                <img class="logo-image" src="/img/nøsted2.jpeg" alt="nøsted Logo" />

                <h1 class="text-danger mb-2 font-weight-bold">Kontoen Løst!</h1>
                
            </div>
        </div>
    </main>

</body>