

<body>
    <section>
        <div class="container mt-2">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>OrderID:</strong> 20462
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>ProduktType:</strong> Vinsj
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Arsmodell:</strong> 2020
                </div>
            </div>

        </div>
        <div class="container">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Kunde Navn:</strong> Per Pol
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Serie No:</strong> IG-20462-A
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Status:</strong> Reperasjon
                </div>
            </div>

        </div>
        <div class="container">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Mobil No:</strong> 87654321
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Feilbeskrivelse:</strong> Trekker med så lite kraft
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Kommentar fra kunde:</strong> Jeg tror problemet ligger i clutch og lameller
                </div>
            </div>

        </div>
    </section>
    <section class="mt-3">
        <!-- Butonlar -->
        <div class="container">
            <div class="row">
                <div class="col-2 col-md-2 col-lg-2.4">
                    <button class="btn btn-primary w-100 p-3" onclick="showForm('form1')">Mekanisk</button>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <button class="btn btn-primary w-100 p-3" onclick="showForm('form2')">Hydrolisk</button>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <button class="btn btn-primary w-100 p-3" onclick="showForm('form3')">Elektro</button>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <button class="btn btn-primary w-100 p-3" onclick="showForm('form4')">Funksjons Test</button>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <button class="btn btn-primary w-100 p-3" onclick="showForm('form5')">Trykk Settinger</button>
                </div>
            </div>
        </div>


        <!-- Form for Mekasanisk -->
        <div class="container mt-3">

            <!-- Form 1 -->
            <div class="row" id="form1" style="display:none;">
                <h4 class="text-center mb-3"> Mekanisk Sjekkliste </h4>
                <!-- Form content -->
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk clutch lameller for slitasje</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk bremser. Bånd/Pal</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk lager for trommel</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk PTO og opplagring</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk kjedestrammer</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-4 text-left mr-5">
                        <label for="mechanicalOption1">Sjekk wire</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption1" name="choice" value="option1">
                        <label for="mechanicalOption1">OK</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption2" name="choice" value="option2">
                        <label for="mechanicalOption2">Bør skiftes</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="mechanicalOption3" name="choice" value="option3">
                        <label for="mechanicalOption3">Defekt</label>
                    </div>
                </div>

            </div>













        </div>












        <!-- Form 2 -->
        <div class="row" id="form2" style="display:none;">
            <!-- Form içeriği... -->
            <div class="col-md-12">
                <!-- Örnek form elemanı -->
                <input type="text" class="form-control" placeholder="Form 2 için bir input" />
            </div>
        </div>

        <!-- Form 3 -->
        <div class="row" id="form3" style="display:none;">
            <!-- Form içeriği... -->
            <div class="col-md-12">
                <!-- Örnek form elemanı -->
                <input type="text" class="form-control" placeholder="Form 3 için bir input" />
            </div>
        </div>

    </section>

    <!-- JavaScript -->
    <script>
        function showForm(formId) {
            ['form1', 'form2', 'form3'].forEach(function (id) {
                document.getElementById(id).style.display = (id === formId) ? 'flex' : 'none';
            });
        }

                //************************************************* */

    </script>
</body>

