

<body>
    <section>
        <div class="container mt-2">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>OrderID:</strong> 20462
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>ProduktType:</strong> Vinsj
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Arsmodell:</strong> 2020
                </div>
            </div>

        </div>
        <div class="container">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Kunde Navn:</strong> Per Pol
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Serie No:</strong> IG-20462-A
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Status:</strong> Reperasjon
                </div>
            </div>

        </div>
        <div class="container">
            @*@foreach (var order in Model.Orders){} *@
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Mobil No:</strong> 87654321
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Feilbeskrivelse:</strong> Trekker med så lite kraft
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Kommentar fra kunde:</strong> Jeg tror problemet ligger i clutch og lameller
                </div>
            </div>

        </div>
    </section>
    <section>







    </section>





</body>

