<h1 style="margin-top: 20px"> Brukere  </h1>

<table class="table table-bordered"> 
    
    <tr>
        <th>

            BrukerId

        </th>

        <th>

            Fornavn

        </th>

        <th>

          Etternavn

        </th>

        <th>

          MobilNo

        </th>

        <th>

           Email

        </th>

        <th>

            Adress

        </th>

        <th>

         PostNummer

        </th>





    </tr>







</table>