@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-lg-10 mx-auto mt-4">
    <!-- Completed Servicer Başlığı -->

    <div class="heading" style="background-color: #C0D0D7; border-radius: 10px; display: block; padding: 10px 30px; text-align: center; font-weight: bold; font-size: 32px; margin: 10px auto; width: fit-content;">Fulførte Servicer</div>

    <!-- Tablo -->
    <div class="table-responsive mt-2">
        <table class="custom-table table table-bordered" style="font-size: 16px;">
            <thead style="background-color: #B9B9B9;">
                <tr>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">OrderID</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Product Type</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Kunde</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Mottatt Dato</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Feilbeskriving</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Avtalt Levering</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Status</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Service Skjema</th>
                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000;">Timer</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>#20462</td>
                    <td>Vinsj</td>
                    <td>Per Pol</td>
                    <td>13/05/2023</td>
                    <td>fungerer ikke</td>
                    <td>15/05/2023</td>
                    <td class="status-process">Process</td>
                    <td>Nei</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>#20463</td>
                    <td>Tømrertilhenger</td>
                    <td>Ole Stein</td>
                    <td>14/05/2023</td>
                    <td>fungerer ikke</td>
                    <td>17/05/2023</td>
                    <td class="status-answer">Venter svar fra kunde</td>
                    <td style="color: #3989E5;">Ja</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>#20464</td>
                    <td>Sandstrøer</td>
                    <td>Bjørn Skaiå</td>
                    <td>11/05/2023</td>
                    <td>fungerer ikke</td>
                    <td>18/05/2023</td>
                    <td class="status-process">Process</td>
                    <td>Nei</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>#20465</td>
                    <td>Vinsj</td>
                    <td>Laila Berg</td>
                    <td>12/05/2023</td>
                    <td>fungerer ikke</td>
                    <td>14/05/2023</td>
                    <td class="status-answer">Venter svar fra kunde</td>
                    <td style="color: #3989E5;">Ja</td>
                    <td>8</td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- Sayfa Gecisleri -->
    <div class="pagination-container">

        <a asp-controller="Dashboard" asp-action="Index" asp-route-page="1"
           style="display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 50%;
      margin: 5px;
      text-decoration: none;
      color: #000;
      background-color: #B9B9B9;
      transition: background-color 0.4s;"
           onmouseover="this.style.backgroundColor='#27ae60'"
           onmouseout="this.style.backgroundColor='white'">1</a>

        <a asp-controller="Completed" asp-action="Dashboard" asp-route-page="2"
           style="display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 50%;
      margin: 5px;
      text-decoration: none;
      color: #000;
      background-color: #3498db;
      transition: background-color 0.4s;"
           onmouseover="this.style.backgroundColor='white'"
           onmouseout="this.style.backgroundColor='#3498db'">2</a>


    </div>
</div>
