@{

    ViewBag.Title = "Rapporter";

}

<div class="content">
    <!-- Content buttons here -->
    <button class="btn">
        <a asp-controller="Customers" asp-action="Dashboard" class="nav-link">
         Kunder Info
        </a>
    </button>
    <button class="btn">Tjenestetype</button>
</div>

<style>
    .content {
        padding: 20px;
    }

    .btn {
        padding: 10px 15px;
        margin: 10px;
        border: none;
        background-color: #3498db;
        color: white;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #2980b9;
        }
</style>
