html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: black;
    color: #9CB7C2;
    height: 120vh;
    padding-top: 0px; /* Bu değeri ayarlayarak "Hjem" öğesinin konumunu kontrol edebilirsiniz. */
    overflow-y: auto;
}




    .sidebar .nav-link {
        color: #9CB7C2;
        background-color: black;
    }


/* Add transition to dropdown for smoother animation */
#brukerOperasjonerSubmenu {
    transition: visibility 0.5s, opacity 0.5s linear;
}



/* CSS rule to change cursor to pointer on hover */
.nav-link:hover {
    cursor: pointer;
}

.sidebar .nav-link:hover {
    color: #A8C29C;
}

.sidebar .nav-link.active-link {
    color: #A8C29C; /* ya da istediğiniz başka bir renk */
}

.navbar {
    background-color: black;
    height: 60px;
}

    .navbar .form-control.form-control-dark {
        padding-right: 40px;
    }

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 10px;
}

.navbar-brand .logo-image {
    height: 40px; /* İconun boyutunu ayarlamak için */
    background-color: black; /* Sidebar arka plan rengi ile aynı olmalı */
}

.search-wrapper .search-icon {
    right: 10px; /* İconun içerisine daha yakın olması için ayarlandı */
}

.user-info {
    margin-left: 15px; /* Kullanıcı ikonunu sola yaklaştırmak için ayarlandı */
}

.sidebar-sticky ul.nav {
    padding-top: 2px; /* Hjem'in daha yukarıda olması için ayarlandı */
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

        .navbar .search-wrapper,
        .navbar .user-info {
            flex: 100%;
            text-align: center;
        }

        .navbar .search-wrapper {
            margin-top: 10px;
            margin-right: 0;
        }

        .navbar .user-info {
            margin-left: 0;
        }

    .sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        z-index: 1000;
        overflow-y: auto;
    }

    main {
        padding-top: 30px;
    }

    .active-link {
        color: #FF5733; /* Veya istediğiniz herhangi bir renk */
    }

    .user-info .user-icon-name {
        display: flex; /* içerikleri yatayda hizalayın */
        align-items: center; /* içerikleri dikeyde ortala */
    }

    .user-name {
        margin-left: 5px; /* İkonla arasındaki boşluğu ayarla */
    }

    /* Logout butonu için düzenlemeler */
    /* CSS */
    .user-info {
        align-items: center;
    }

    .btn-logout {
        vertical-align: middle;
    }


    nav li {
        list-style-type: none;
    }

    .navbar {
        /* ... existing styles ... */
        justify-content: space-between; /* Adjusting layout to space out the content */
    }
}

@media (max-width: 991px) { /* Bootstrap'ın md breakpoint'i */
    .navbar-collapse {
        background-color: #343a40; /* Bootstrap 'bg-dark' sınıfının varsayılan arka plan rengi */
        width: 100%;
    }
}
