<style >
/* To make the inner borders of table headers and cells thicker*/
table.table-bordered th, table.table-bordered td {
    border: 2px solid #000;
}

/* TExamining the top and bottom outer borders of the template. */
    table.table-bordered {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

        table.table-bordered thead th {
            border-top-width: 1px; /* We only changed the thickness. */
        }

        table.table-bordered tbody tr:last-child td {
            border-bottom-width: 1px; /* We only changed the thickness. */
        }

        /* Examining the left and right outer borders of the table. */
        table.table-bordered th:first-child, table.table-bordered td:first-child {
            border-left-width: 1px; /* SWe only changed the thickness. */
        }

        table.table-bordered th:last-child, table.table-bordered td:last-child {
            border-right-width: 1px; /* We only changed the thickness. */
        }
</style>
