/* Style definitions for the "Completed Services" heading. */
.heading {
    color: black;
    border: 1px solid #C0D0D7;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style definitions for the table */
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

    .custom-table th, .custom-table td {
        border: 2px solid #B9B9B9;
        padding: 8px 12px;
    }

.status-process {
    color: #CD6200;
}

.status-answer {
    color: #3989E5;
}

/* Style definitions for page numbering. */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-item {
    background-color: #E0E0E0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

    .pagination-item.active {
        background-color: #624DE3;
        color: white;
    }

.pagination-text {
    margin: 0 10px;
}

@media (max-width: 990px) {
    .custom-table th, .custom-table td {
        padding: 0.3rem !important;
        font-size: 12px !important;
    }

    .heading {
        font-size: 20px !important;
    }

    .pagination-container {
        flex-wrap: wrap;
    }

    .pagination-text, .pagination-item {
        margin: 5px;
    }

    main {
        max-width: 1200px !important; /* You can specify the desired width. */
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .table-responsive {
        overflow-x: auto; /* To display extra content with horizontal scrolling."





 */
    }

    .main-content {
        max-width: 1200px;
        margin: 0 auto;
    }
}
