<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS ve bağımlılıkları -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- FontAwesome (ikonlar için) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/Dashboard/dashboard.css" />
    <link rel="stylesheet" href="~/css/Dashboard/completed.css" />
    <link rel="stylesheet" href="~/css/Dashboard/index.css" />
    <link rel="stylesheet" href="~/css/ServiceOrder/checklist.css" />
</head>
<body>
    <!-- Navbar Kısmı -->
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-1 shadow">
        <div class="navbar-brand col-sm-3 col-md-2 mr-0">
            <img class="logo-image" src="/img/nøsted1.png" alt="nøsted Logo">
        </div>
        <div class="search-wrapper position-relative ml-auto">
            <div class="input-group">
                <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text bg-dark border-0">
                        <i class="fa fa-search text-white"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="user-info d-flex align-items-center ml-3">
            <i class="fas fa-bell text-white mr-3"></i>
            <span class="text-white mr-2">Lars Olsen</span>
            <i class="fas fa-user text-white ml-2 mr-4"></i>
        </div>
    </nav>
    <!-- Sidebar Kısmı -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column mb-3" style="list-style-type: none; padding-left: 0;">
                        <li class="nav-item my-3" style="border-top: 1px solid #728791; border-bottom: 1px solid #728791;">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="fas fa-home"></i> Hjem
                            </a>
                        <li class="nav-item mt-3">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="fas fa-cog"></i> Aktive Servicer
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <a asp-controller="Completed" asp-action="Dashboard" class="nav-link">
                                <i class="fas fa-check-circle"></i> Fulførte Servicer
                            </a>

                        </li>

                        <li class="nav-item mt-3">
                            <a asp-controller="NewService" asp-action="Dashboard" class="nav-link">
                                <i class="fas fa-pen"></i> Ny service
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column mt-9">
                        <li class="nav-item">
                            <a asp-controller="UsageOperations" asp-action="Index" class="nav-link">


                                <i class="fas fa-users"></i> Brukeoperasjoner
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
