@using Microsoft.AspNetCore.Identity
@using ourWinch.Models.Account
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager





@if (SignInManager.IsSignedIn(User))
{


    var user = await UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));

    <li class="nav-item">
        <a class="nav-link" href="#">@($"{user.Fornavn} {user.Etternavn}")</a>
    </li>
}
