@model ourWinch.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Feil.</h1>
<h2 class="text-danger">En feil oppsto under behandlingen av forespørselen din.</h2>

@if (Model != null && Model.ShowRequestId)
{
    <p>
        <strong>Forespørsels-ID:</strong> <code>@Model.RequestId</code>
    </p>
}

