
.code-container {
    display: flex;
    border: 1px solid transparent;
    border-radius: 5px;
}

.code-input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.send-label {
    padding: 6px 12px;
    background-color: #4945F9;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
