
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.login-container {
    max-width: 500px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box {
    border: 2px solid #000;
    padding: 25px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #C0D0D7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.form-control, button.btn-outline-dark {
    background-color: #f6f6f6;
}

.form-group.position-relative:not(:last-child) {
    margin-bottom: 20px;
}

.form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

input.form-control {
    padding-left: 35px;
}

.text-right a {
    float: right;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.logo-image {
    position: relative;
    width: 240px;
    height: 55px;
    background: url('/img/nï¿½sted2.jpeg') no-repeat center; /* <--- The image path should be checked here. */
    background-size: 90%;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    border-radius: 12px;
    margin-bottom: 20px;
}

.error-message strong {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}
