<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Kontrol Sayfası</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href=".../ourWinch/Views/ServiceSkjema/site.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="container mt-2 main-container" style="max-height: 600px; overflow-y: auto;">
        <div class="row">
            <div class="col-md-6">
                <h4>Nøsted & avd. Jåbæk</h4>
                <p>Kvalitetssikring Registreringer</p>
            </div>
            <div class="col-md-6 text-right" id="buttons">
                <button class="btn btn-primary" id="printButton">Skriv ut</button>
                <!-- "Fulført" knappen som vil utløse en JavaScript funksjon -->
                <button type="button" class="btn btn-primary" id="completeButton">Fulført</button>
            </div>
        </div>

        <!-- Usynlig form som vil sende data når siden lastes -->
        <form id="completedServiceForm" class="hidden-form" action="/CompletedService/RegisterCompletedService" method="post">
            <!-- Skjulte input-felt for å holde på dataen som hentes dynamisk -->
            <input type="hidden" id="ServiceOrderIdInput" name="ServiceOrderId" value="" />
            <input type="hidden" id="OrdrenummerInput" name="Ordrenummer" value="" />
            <input type="hidden" id="ProdukttypeInput" name="Produkttype" value="" />
            <input type="hidden" id="FornavnInput" name="Fornavn" value="" />
            <input type="hidden" id="EtternavnInput" name="Etternavn" value="" />
            <input type="hidden" id="MottattDatoInput" name="MottattDato" value="" />
            <input type="hidden" id="FeilbeskrivelseInput" name="Feilbeskrivelse" value="" />
            <input type="hidden" id="AvtaltLeveringInput" name="AvtaltLevering" value="" />
            <input type="hidden" id="StatusInput" name="Status" value="" />
            <input type="hidden" id="ServiceSkjemaInput" name="ServiceSkjema" value="" />
        </form>

        <div class="heading" style="background-color: #C0D0D7; border-radius: 10px; display: block; padding: 10px 30px; text-align: center; font-weight: bold; font-size: 32px; margin: 10px auto; width: fit-content;">Service Skjema</div>
        <div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-4 border border-black p-1">
                        <strong>Navn:</strong> <span id="personName"></span>
                    </div>
                    <div class="col-md-4 border border-black p-1">
                        <strong>Etternavn:</strong> <span id="personSurname"></span>
                    </div>
                    <div class="col-md-4 border border-black p-1">
                        <strong>OrdereNummer:</strong> <span id="orderNumber"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 border border-black p-1">
                        <strong>Produkttype:</strong> <span id="productType"></span>
                    </div>
                    <div class="col-md-4 border border-black p-1">
                        <strong>Serienummer:</strong> <span id="serialNumber"></span>
                    </div>
                    <div class="col-md-4 border border-black p-1">
                        <strong>Mottatt Dato: </strong> <span id="receivedDate"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Avdeling</th>
                            <th>Sjekk punkter</th>
                            <th>OK</th>
                            <th>Bør skiftes</th>
                            <th>Defekt</th>
                        </tr>
                    </thead>
                    <tbody id="dataBody">
                        <!-- Dinamik olarak buraya satırlar eklenecek -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>Signatur:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label>Dato:</label>
                <input type="date" class="form-control">
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            //To print, it listens to the "Skriv ut" button and directs it to the printer.
            $("#printButton").click(function () {
                window.print();
            });

            $("#completeButton").click(function () {
                var serviceOrderId = getIdFromUrl();

                $.ajax({
                    url: '/ServiceOrder/UpdateStatus', // Güncellenmiş URL
                    type: 'POST', // HTTP metodu POST olarak değiştirildi
                    data: {
                        id: serviceOrderId, // ServiceOrder ID
                        newStatus: 'Fulfort' // Yeni durum
                    },
                    success: function (response) {
                        alert('Status updated to completed!');
                        location.reload(); // Sayfayı yenile
                    },
                    error: function (error) {
                        alert('An error occurred while updating the status.');
                    }
                });
            });

            // Funksjon for å hente ID fra URL
            function getIdFromUrl() {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                return id;
            }

            var serviceOrdreId = getIdFromUrl();  // URL'den ID'yi al
            fetchServiceData(serviceOrdreId);     // Alınan ID ile veriyi yükle

            $("#lastInnData").click(function () {
                var serviceOrdreId = $("#serviceOrdreIdInput").val();

                if (serviceOrdreId) {
                    fetchServiceData(serviceOrdreId);
                } else {
                    alert("Vennligst skriv inn en service ordre ID.");
                }
            });

            $("a:contains('Ja')").click(function (event) {
                event.preventDefault(); // Linkin varsayılan davranışını engelle
                let serviceOrderId = $(this).closest('tr').data('orderid'); // Tıklanılan linkin bulunduğu satırdan data-orderid değerini al
                fetchServiceData(serviceOrderId);
            });
        });

        function getIdFromUrl() {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            return id;
        }

        function fetchServiceData(orderId) {
            var url = "http://localhost:5002/api/ServiceSkjema/" + orderId;

            $.ajax({
                url: url,
                type: "GET",
                beforeSend: function () {
                    console.log("Fetching data from URL:", url);
                },
                success: function (data) {
                    var tableBody = $("#dataBody");
                    tableBody.empty();

                    console.log(data)

                    if (data.serviceOrders && data.serviceOrders.length > 0) {
                        var order = data.serviceOrders[0];
                        $("#personName").text(order.fornavn);
                        $("#personSurname").text(order.etternavn);
                        $("#orderNumber").text(order.ordrenummer);
                        $("#productType").text(order.produkttype);    
                        $("#serialNumber").text(order.serienummer);
                        $("#receivedDate").text(order.mottattDato);
                    }

                    var mappings = {
                        mechanicals: "Mechanical",
                        hydrolisks: "Hydrolisk",
                        electros: "Electro",
                        funksjonsTests: "FunksjonsTest",
                        trykks: "Trykk",
                       
                    };

                    for (var key in mappings) {
                        if (data[key] && data[key].length) {
                            appendDataToTable(data[key], tableBody, mappings[key]);
                        }
                    }
                },
                error: function (error) {
                    alert("Bir hata oluştu! Lütfen tekrar deneyin.");
                }
            });
        }

        function appendDataToTable(dataList, tableBody, avdeling) {
            dataList.forEach((item, index) => {
                var okChecked = item.ok ? 'checked' : '';
                var borSkiftesChecked = (item.borSkiftes && !item.ok) ? 'checked' : '';
                var defektChecked = (!item.ok && !item.borSkiftes) ? 'checked' : '';

                var row = `<tr>
                                  <td>${avdeling}</td>
                                  <td>${item.checklistItem}</td>
                                  <td><input type="checkbox" name="checkbox-group-${index}" ${okChecked} onclick="uncheckOthers(this)"></td>
                                  <td><input type="checkbox" name="checkbox-group-${index}" ${borSkiftesChecked} onclick="uncheckOthers(this)"></td>
                                  <td><input type="checkbox" name="checkbox-group-${index}" ${defektChecked} onclick="uncheckOthers(this)"></td>
                               </tr>`;
                tableBody.append(row);
            });
        }

        function uncheckOthers(checkbox) {
            let checkboxes = document.querySelectorAll(`input[name="${checkbox.name}"]`);
            checkboxes.forEach(cb => {
                if (cb !== checkbox) cb.checked = false;
            });
        }
    </script>

</body>
</html>
